{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update User Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update the user information</p>
        </div>
    </div>
</header>

<!-- Update User Info Section -->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-6">
                <form method="POST" class="text-center" action="{% url 'update_info' %}">
                    {% csrf_token %}
                    
                    <h5 class="mb-3">Billing Information</h5>
                    {{ form.as_p }}
                    
                    <h5 class="mt-4 mb-3">Shipping Information</h5>
                    {{ shipping_form.as_p }}
                    
                    <button type="submit" class="btn btn-secondary mt-4">Update Info</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
